name: release
on:
  push:
    tags:
      - v*
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'true'
      - run: git fetch --prune --unshallow
      - name: setup dependencies
        uses: actions/setup-go@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
      # - name: release dry run
      #   run: make release-dry-run
      - name: Verify builder
        run: |
          docker buildx ls
          echo "BUILDX_BUILDER=$BUILDX_BUILDER"
        env:
          BUILDX_BUILDER: ${{ steps.buildx.outputs.name }}
      - name: setup release environment
        run: |-
          echo 'GITHUB_TOKEN=${{secrets.GORELEASER_ACCESS_TOKEN}}' > .release-env
      - name: release publish
        run: make release
        env:
          DOCKER_BUILDKIT: 1
          BUILDX_BUILDER: ${{ steps.buildx.outputs.name }}
